<div class="jumbotron">
    <div class="container-fluid">
        <div class="container body-content pt-lg-5">
            <div style="min-height:700px;">
                <h1>@ViewBag.PageTitle<span class="fa fa-tachometer"></span></h1>
                <h6>@ViewBag.PageSubTitle</h6>
                <br />
                <form>
                    <!-- Icon Cards-->
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="card text-white bg-primary o-hidden h-100">
                                <div class="card-body">
                                    <div class="card-body-icon">
                                        <i class="fa fa-3x  fa-fw fa-hdd-o"></i>
                                    </div>
                                    <div class="mr-5">@ViewBag.TotalUploadedFile</div>
                                </div>
                                <a class="card-footer text-white clearfix small z-1" href="/Home/OnlineDriveUpload">
                                    <span class="float-left">View Details</span>
                                    <span class="float-right">
                                        <i class="fa fa-3x  fa-angle-right"></i>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <br />
                        <img id="drive-maintenance" src="~/Resources/Images/Png/arcanys-online-drive-safe-and-well-maintained.png" alt="drive-logo" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>