<div class="jumbotron">
    <div class="container-size">
        <div ng-controller="ctrlIndex">
            <img id="online-drive-png" ng-src="~/Resources/Images/Png/{{ImgOnlineDrivePng}}" alt="{{ImgAltOnlineDrivePng}}" />
            <div class="container">
                <h1>{{HomePageTitle}}</h1>
                <p>{{HomePageTitleDescription}}</p>
                <p>@Html.ActionLink("{{HomePageBtnStart}}", "OnlineDriveUpload", "Home", new { routeValues = "" }, new { @class = "btn btn-primary btn-lg" })</p>
            </div>
        </div>
    </div>
</div>
